table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 2px solid greenyellow;
}

th {
    background:thistle;
    padding: 20px;
    font-weight: bold;
}

td {
    background:plum;
    height: 250px;
}
